@mixin heading() {
    box-sizing: border-box;
    color: rgb(31, 35, 40);
    color-scheme: light;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    // font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 24px;
    overflow-wrap: break-word;
    padding-bottom: 7.2px;
    border-bottom: 1px solid hsla(210,18%,87%,1);
}
@mixin code() {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    font-family: consolas;
    font-weight: normal;
    color: rgb(212, 212, 212);
    background-color: rgb(30, 30, 30);
    border-radius: 4px;

    pre {
        background-color: rgb(30, 30, 30);
    }
}
@mixin paragraph() {
    box-sizing: border-box;
    text-align: justify;
    color: rgb(31, 35, 40);
    color-scheme: light;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
    overflow-wrap: break-word;

    code, samp {
        display: inline;
    }
}
@mixin link() {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(9, 105, 218);
    color-scheme: light;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
    text-decoration: none;

    &:hover {
        text-decoration-color: rgb(9, 105, 218);
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
    }
}
